/*
    555b6e text colour
    89b0ae teal banner
    bee3db highlight colour
    faf9f9 white background colour
    ffd6ba login manager colour
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;

}

h1{
    color: #faf9f9;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #89b0ae;
    padding: 16px 32px;
    border-bottom: 3px;
}

.hyperlinks{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.hyperlinks a{
    color: #555b6e;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
    
}

.hyperlinks a:active{
    text-decoration: none;
}

.userIcon{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;
    
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.userIcon span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background-color: #bee3db;
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;
    transition: 0.4s;
}

